name: Deploy Doxygen Documentation

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Run Doxygen
        run: doxygen Doxyfile

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./doc/html 

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
